---
import Layout from '@/layouts/ContentLayout.astro';
import Logo from "@/assets/logo.svg";
---

<Layout title="Index">
	<div class="pt-16 h-screen flex flex-col items-center justify-center bg-black space-y-4">
		<h1 class="text-white text-5xl font-bold">Hack<span class="text-[#8f8f8f8f]">In</span>Provence</h1>
		<Logo class="!h-82 !w-128" />
		<p class="max-w-xs text-white text-2xl text-center">Degun soulet es mai fort que tòutis ensèn</p>
	</div>
	<div class="h-screen flex items-center justify-center">
		Other content
	</div>
</Layout>
