---
---

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirection</title>
</head>
<body>
  <h1>Redirection en cours...</h1>
  <p>Si vous n'êtes pas redirigé automatiquement, <a href="/nouvelle-page">cliquez ici</a>.</p>
  
  <script type="text/javascript">
    // Effectue une redirection vers '/nouvelle-page' après 1 seconde
    window.location.href = '/nouvelle-page';
  </script>
</body>
</html>