---
import Logo from "@/assets/logo.svg";
import { Dropdown, DropdownTrigger, DropdownContent, DropdownItem, DropdownLabel, DropdownSeparator } from "@/components/starwind/dropdown";
import Button from "./starwind/button";
import Menu2 from "@tabler/icons/outline/menu-2.svg";
---

<nav class="fixed w-full h-16 px-6 py-4 flex items-center justify-between bg-black z-10">
  <!-- Logo à gauche -->
  <div class="flex items-center gap-3">
    <Logo class="h-7 w-auto" />
    <span class="font-bold text-md text-white">Hack<span class="text-[#8f8f8f8f]">In</span>Provence</span>
  </div>

  <!-- Liens de navigation à droite -->
  <div class="hidden md:flex text-white items-center space-x-6 text-sm font-medium">
    <a href="/site/" class="hover:text-[#8f8f8f8f] transition">Accueil</a>
    <a href="/site/actualites" class="hover:text-[#8f8f8f8f] transition">Actualités</a>
    <a href="/site/agenda" class="hover:text-[#8f8f8f8f] transition">Agenda</a>
    <a href="/site/ressources" class="hover:text-[#8f8f8f8f] transition">Ressources</a>
    <a href="https://secsea.org/" class="hover:text-[#8f8f8f8f] transition">SECSEA</a>
    <a href="/site/contact" class="hover:text-[#8f8f8f8f] transition">Contact</a>
  </div>

  <Dropdown class="md:hidden">
    <DropdownTrigger asChild>
      <Button variant="ghost" size="icon">
        <Menu2 class="!h-5 !w-5 stroke-white" />
      </Button>
    </DropdownTrigger>
    <DropdownContent align="end">
      <DropdownItem as="a" href="/site/" class="hover:text-[#8f8f8f8f] transition">Accueil</DropdownItem>
      <DropdownItem as="a" href="/site/actualites" class="hover:text-[#8f8f8f8f] transition">Actualités</DropdownItem>
      <DropdownItem as="a" href="/site/agenda" class="hover:text-[#8f8f8f8f] transition">Agenda</DropdownItem>
      <DropdownItem as="a" href="/site/ressources" class="hover:text-[#8f8f8f8f] transition">Ressources</DropdownItem>
      <DropdownItem as="a" href="https://secsea.org/" class="hover:text-[#8f8f8f8f] transition">SECSEA</DropdownItem>
      <DropdownItem as="a" href="/site/contact" class="hover:text-[#8f8f8f8f] transition">Contact</DropdownItem>
    </DropdownContent>
  </Dropdown>
</nav>
