---
import Logo from "@/assets/logo.svg";
---

<nav class="fixed w-full h-16 px-6 py-4 flex items-center justify-between bg-black">
  <!-- Logo à gauche -->
  <div class="flex items-center gap-3">
    <Logo class="h-7 w-auto" />
    <span class="font-bold text-md text-white">HackInProvence</span>
  </div>

  <!-- Liens de navigation à droite -->
  <div class="hidden md:flex text-white items-center space-x-6 text-sm font-medium">
    <a href="/site/" class="hover:text-[#8f8f8f8f] transition">Accueil</a>
    <a href="/site/actualites" class="hover:text-[#8f8f8f8f] transition">Actualités</a>
    <a href="/site/agenda" class="hover:text-[#8f8f8f8f] transition">Agenda</a>
    <a href="/site/ressources" class="hover:text-[#8f8f8f8f] transition">Ressources</a>
    <a href="/site/secsea" class="hover:text-[#8f8f8f8f] transition">SECSEA</a>
    <a href="/site/contact" class="hover:text-[#8f8f8f8f] transition">Contact</a>
  </div>
</nav>
